

body {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#D7D7D7 none repeat scroll 0 0;
	font-family:Helvetica,sans-serif;
	margin:0;
	padding:0;
}
a {	color:#2244CC;}
a img { border:0 none;}
#right a.or {color:#336699;text-decoration:underline;}

input.short { width:150px; }
input.text { width:350px; }
input.middle { width:550px; }
input.long { width:750px; }

.sponsor {margin-top:0;}
.sponsor label {display:block;font-size:0.7em;margin-bottom:0.2em;}
.sponsor img {-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;
	background:white none repeat scroll 0 0;border:1px solid #CCCCCC;padding:3px;}
	
#container {margin:0 auto;min-width:760px;width:92%;}
#content {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:white none repeat scroll 0 0;
	border-color:#CCCCCC #BBBBBB #BBBBBB #CCCCCC;
	border-style:solid;
	border-width:1px 4px 4px 1px;
	float:left;
	margin:1em 0;
	min-height:330px;
	min-width:450px;
	padding:25px;
	position:relative;
	width:70%;
	overflow:hidden;
}
#content form {
	margin-bottom:0;
}
#content p.subtle {
	float:right;
	margin:0 0 0.5em;
}
#content .subtle a {
	color:#999999;
	font-size:0.7em;
}
div.pages {
	float:right;
	font-size:0.8em;
	margin-top:0.25em;
}
.pagination { display:inline;}
.pagination a, .pagination span { border:1px solid #DDDDDD;padding:2px 5px;text-decoration:none;}
.pagination span {-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;
background:black none repeat scroll 0 0;border:1px solid #666666;color:white;}
.pagination span.gap {-moz-background-clip:border;-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;background:transparent none repeat scroll 0 0;border:0 none;color:black;}
span.pipe {color:#AAAAAA;margin:0 0.25em;}
div.news {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#CCFFCC none repeat scroll 0 0;
	font-size:0.7em;
	font-weight:bold;
	margin:1em auto 0;
	padding:7px 15px;
	text-align:center;
	width:40em;
}
div.news p {margin:0;}

#right {
	float:left;
	font-family:'Lucida Grande','Trebuchet MS',Arial,Helvetica,sans-serif;
	margin-left:1.25em;
	margin-top:1em;
	width:20%;
}
#right p {
	font-size:0.8em;
	font-weight:bold;
}
#right p a.hidden {
border-bottom:1px solid #999999;
color:black;
text-decoration:none;
}
#right p a.hidden:hover {
border-bottom:1px solid blue;
color:blue;
text-decoration:none;
}
#right p.help {
font-size:0.75em;
font-weight:normal;
}
#right p span.tag_name { font-size:12px; font-weight:normal; margin-right:5px;}
#right p span.tag_name a { color:#333;}
#right p.operate { margin-top:20px; }
#footer {
color:#333333;
font-family:'Lucida Grande',Tahoma,Arial,Helvetica,sans-serif;
font-size:0.75em;
margin:0 auto 3.5em 3%;
min-width:560px;
padding:0 25px;
width:66%;
}
p.notice, p.sections {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFDD99 none repeat scroll 0 0;
border:1px solid orange;
font-size:0.8em;
margin-top:0;
padding:7px 15px;
}
p.parseerror {color:#CC0000;font-size:0.8em;margin:0 0 2em;}
p.sections a.action { color:#CC0000; }
.hasfile { color:#009900; font-weight:bold; margin-left:10em; }

#site_logo, h1, h2, h3, h4 { font-family:'Lucida Grande','Trebuchet MS',Arial,Helvetica,sans-serif; }
#site_logo {font-size:1.3em;}
#site_logo a {color:#FFCC44; text-decoration:none; }

h2 { font-size:1em;}
h2 span { color:#999999; font-size:0.75em; margin-left:1em; }
h2 img.feed { margin-bottom:-3px; }
h3 { -moz-background-clip:border; -moz-background-inline-policy:continuous;
  -moz-background-origin:padding; background:#E0E7E0 none repeat scroll 0 0;
  color:#228822; font-size:0.8em; padding:3px 10px; }
h4 { font-size:0.75em; }
pre.explain {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#E7E7E7 none repeat scroll 0 0;
border:1px solid #CCCCCC;
margin:0 2em;
padding:7px 15px;
}
hr {
border-color:-moz-use-text-color -moz-use-text-color #CCCCCC;
border-style:none none solid;
border-width:0 0 1px;
height:0;
margin:1em 0;
}
#footer p {
margin:0;
}
#footer p.credit {
float:right;
}
#footer p.legal {
float:left;
margin-right:1.5em;
}
#footer p.disclaim {
color:brown;
float:left;
}
ul.quotes, ul.flat {
font-size:0.75em;
list-style-type:none;
margin-left:0;
padding-left:0;
}
ul.flat li {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(/images/small_circle.gif) no-repeat scroll 5px 6px;
padding-left:15px;
}
ul.ways li span {
color:#666666;
font-size:0.9em;
}
ul.quotes {
font-size:0.8em;
}
ul.quotes li {
margin-bottom:1em;
}
ul.quotes span {
color:#666666;
font-size:0.9em;
}
ul.why {
font-family:'Lucida Grande',Arial,Helvetica,sans-serif;
font-size:1em;
line-height:1.25em;
margin-top:2em;
}
ul.why li p {
color:#666666;
font-size:0.9em;
margin-top:0.5em;
}
ul.why li p strong {
color:#CC0000;
}
a.utility {
font-weight:normal;
text-decoration:none;
}
a.remove {
color:#CC0000;
}
a.utility:hover {
color:#CC0000;
text-decoration:underline;
}
a.subtle {
color:#336699;
}
a.subtle:hover {
color:blue;
}
div.asset {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#E7E7E7 none repeat scroll 0 0;
border-bottom:1px solid #CCCCCC;
font-family:'Lucida Grande',Tahoma,Arial,Helvetica,sans-serif;
font-size:0.8em;
margin-bottom:1em;
padding:7px 15px;
text-align:center;
}
div.submit {
	font-size:12px;
}
div.submit input {
padding:4px 15px;
}
div.submit input {
vertical-align:middle;
}
div.submit .or_button {
color:#999999;
font-family:'Lucida Grande',Tahoma,Arial,Helvetica,sans-serif;
font-size:0.75em;
}
div.submit .or_button a {
color:#666666;
}
div.submit .or_button a:hover {
color:#CC0000;
}

p.private, #content .legend {
	color:#339933;
	font-size:0.8em;
	margin-top:0;
}
#content .legend {
padding-top:1px;
}
#content .legend span strong {
color:black;
}
#content .legend span {
margin-left:4em;
}
p.private img {
vertical-align:bottom;
}
p.private {
color:#CC0000;
font-weight:bold;
}
p.psmall {
font-size:0.7em;
font-weight:normal;
}
div.upload {
float:left;
margin-left:0.5em;
margin-top:-0.5em;
padding:7px 0;
}
div.upload p label {
font-size:0.7em;
font-weight:bold;
}
div.upload p {
margin:0;
}
div.upload input {
margin-left:0.75em;
}
div.upload a {
color:#666666;
font-size:0.8em;
}
p {
font-family:'Lucida Grande','Trebuchet MS',Arial,Helvetica,sans-serif;
}
#header {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#111111 none repeat scroll 0 0;
border-bottom:3px solid #999999;
padding:5px 4% 10px;
}
#news, #topnews {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#475F30 none repeat scroll 0 0;
border-color:#778F60;
border-style:solid;
border-width:2px 0;
bottom:0;
color:#FFFFCC;
font-size:0.7em;
padding:6px 0 7px;
position:fixed;
text-align:center;
width:100%;
z-index:50;
}
#topnews {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#333333 none repeat scroll 0 0;
border-color:-moz-use-text-color -moz-use-text-color #444444;
border-style:none none solid;
border-width:0 0 1px;
bottom:auto;
color:white;
padding:4px 0 5px;
position:relative;
}
#news a.subtle, #topnews a.subtle {
color:#CCCCCC;
font-weight:normal;
}
#news a, #topnews a {
color:gold;
font-weight:bold;
}
#news p, #topnews p {
margin:0;
}
#header img {
margin-right:0.25em;
vertical-align:bottom;
}
#header h1 {
color:#FFCC44;
font-weight:normal;
margin:0;
}
#header h1 a { color:#FFCC44; text-decoration: none;}
#header h1 span.sub {
color:#CCFF66;
font-size:0.6em;
font-weight:normal;
padding-left:1em;
}
#header ul#nav {
float:right;
list-style-type:none;
margin:1em 0 0;
}
#header ul#nav li {
color:gold;
float:left;
font-family:'Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
font-size:0.7em;
margin-left:2em;
}
#header ul#nav li a {
color:#AA8866;
display:block;
float:left;
}
#header ul#nav li.active a {
color:#CCAA88;
font-weight:bold;
}
#header ul#nav li.hot a {
color:orange;
}
.line_numbers, .lineNumbers {
color:#999999;
padding-right:0.5em;
text-align:right;
}
.line_numbers strong {
color:#555555;
}
.thePaste {
padding-left:0.75em;
}
label {
color:#666666;
font-family:'Lucida Grande',Tahoma,Arial,Helvetica,sans-serif;
font-size:0.8em;
font-weight:normal;
}
.hi *, .hi span {
background-color:transparent !important;
}
.allcode {
overflow:auto;
width:99%;
}
.clearfix:after{clear:both;content:'';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}
.clearfix{display:inline-block}
* html .clearfix{height:1%}
.clearfix{display:block}

.highlight { display:block ; overflow:hidden;}
.linenos pre,.highlight pre,.highlight  pre span {font-family:"Bitstream Vera Sans Mono","Monaco","Courier New",monospace,宋体;font-size:9pt;font-weight:normal;}
.linenos { padding:0 5px; text-align:right; color:#999; }
.highlight td.code { width:100%; }
.highlight_top { margin-bottom:5px; font-size:11px; text-align:right; padding-right:8px; display:none; }
.highlight .c { color: #919191; } /* Comment */
.highlight .err {} /* Error */
.highlight .k { color: #FF5600 } /* Keyword */
.highlight .cm { color: #919191; } /* Comment.Multiline */
.highlight .cp { color: #FF5600 } /* Comment.Preproc */
.highlight .c1 { color: #919191 } /* Comment.Single */
.highlight .cs { color: #919191 } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { font-weight: bold } /* Generic.Heading */
.highlight .gp { font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #FF5600 } /* Keyword.Constant */
.highlight .kd { color: #FF5600 } /* Keyword.Declaration */
.highlight .kn { color: #FF5600 } /* Keyword.Namespace */
.highlight .kp { color: #FF5600 } /* Keyword.Pseudo */
.highlight .kr { color: #FF5600 } /* Keyword.Reserved */
.highlight .kt { color: #FF6400 } /* Keyword.Type */
.highlight .s { color: #00A33F } /* Literal.String */
.highlight .nc { color: #A535AE } /* Name.Class */
.highlight .no { color: #505AC9 } /* Name.Class */
.highlight .ow { color: #FF5600 } /* Operator.Word */
.highlight .sb { color: #00A33F } /* Literal.String.Backtick */
.highlight .sc { color: #00A33F } /* Literal.String.Char */
.highlight .sd { color: #00A33F } /* Literal.String.Doc */
.highlight .s2 { color: #00A33F } /* Literal.String.Double */
.highlight .se { color: #00A33F } /* Literal.String.Escape */
.highlight .sh { color: #00A33F } /* Literal.String.Heredoc */
.highlight .si { color: #00A33F } /* Literal.String.Interpol */
.highlight .sx { color: #00A33F } /* Literal.String.Other */
.highlight .sr { color: #00A33F } /* Literal.String.Regex */
.highlight .s1 { color: #00A33F } /* Literal.String.Single */
.highlight .ss { color: #00A33F } /* Literal.String.Symbol */

table.grid { width:100%; border:1px solid #CCC;border-collapse:collapse;border-spacing:0}
	table.grid tr td { font-size: 12px; padding:4px; border-top: 1px solid #CCC; border-left: 1px solid #CCC;}
	table.grid tr td.first { border-left: 0px;}
	table.grid tr.head td { font-weight: bold; background:#F0F0F0; border-top: 0px;}
	table.grid tr td.choice { width:16px;}
	table.grid tr td.slug { width:200px;}
	table.grid tr td.date { width:60px;}
	table.grid tr td.status { width:38px;}

.errorExplanation { font-size:12px; margin:10px 0; background:#FFF8E7; padding:10px; border: 2px solid #F96;}
.errorExplanation h2 { font-size: 14px; line-height: 180%;}
.errorExplanation p { color:#999;}
.errorExplanation ul { font-size: 12px; margin-top: 8px; list-style: square inside; margin-left: 20px;}
.filter { text-align: right; line-height: 22px; }
	.filter label	{color: #999;}

.successMessage { font-size:12px;margin:10px 0; background:#CF9; padding:10px; border: 2px solid #6C0; }


#right .box { }
#right .box ul {  font-size:12px; list-style-position: inside; padding:0; margin:0 5px;}
#right .box ul li { padding:0; margin:0; line-height:20px;}
#right .box ul li span.count { font-size:11px; color:#999; font-weight:normal;}
#right_profile ul { list-style:none; }

#snippets {}
#snippets .total { margin-bottom:1em; font-size:12px; color:#999; height:22px; line-height:22px;}
#snippets .item {	-moz-background-clip:border;	-moz-background-inline-policy:continuous;
		-moz-background-origin:padding;	background:#EEEEEE none repeat scroll 0 0;	
		margin-bottom:1em;	padding:7px 15px;}
#snippets .item .link { color:#999;  font-size:12px;}
#snippets .item pre {}
#snippets .item p {color:#777777;font-size:0.7em;margin:0 0 0.5em;}
#snippets .item span.lang {font-size:11px; color:#666; }
#snippets .item span.count {font-size:11px;}
#snippets .item .when {float:right; color:#999; font-size:11px;}
#snippets .item .when a { color:#333; font-size:12px; }
#snippets .item .when strong {color:black;}
#snippets .item pre, #snippets .item pre span {font-weight:normal;}
	
#snippet_edit {}
#snippet_edit .row { margin-bottom:8px;}
#snippet_edit textarea.pastebox {	width:100%;	font-size:12px; height:500px;}
#snippet_edit textarea.desc { width:100%; font-size:12px; height:50px; }

#snippet_show {}
#snippet_show h1 a { font-size:12px; font-weight:normal;}
#snippet_show .theme { position: absolute; font-size: 0.6em; color:#999; z-index: 100; right:38px;}
#snippet_show .desc { font-size:12px; margin:10px 0; color:#666; }
#snippet_show .info { background:#DDD; padding:8px; font-size:12px;}
#snippet_show .info span { margin-right:8px; color:#999;}
#snippet_show .info span b { margin-right:8px; color:#666;}


#comments { margin-top:18px; }
#comments .item { padding:8px;font-size:13px; }
#comments .itemse { background:#F0F0F0;}
#comments .item .body {line-height: 150%; min-height:50px; }
#comments .item .meta {color:#999;  font-size:12px; }
#comments .item .links { text-align: right; font-size:12px; }
#comments .item .face { float:right; padding:0 0 8px 8px;}
#comments .item .links a {color:#333;}
#comment_new .form { margin:9px;}

#help { font-size:14px; }
#help ol { font-size:12px; }
#help ol li { line-height:150%; }
