
<% content_for :main do %>			
	<div id="help">
	<h2>关于本站</h2>
	<p>
		本站是 <a href="http://pastie.org" target="_blank">pastie.org</a> 的克隆版，代码风格和网页风格均来自 pastie.org。本站建建立的初衷是因为最近 GFW 将 pastie.org 河蟹掉了，国内无法直接访问 pastie.org。<br /><br />
		网站程序是基本 <a href="http://rubyonrails.org" target="_blank">Ruby on Rails</a> 重新开发的，并在 pastie.org 功能基础上面做了一定的改进，加入了用户机制，便于大家管理自已的代码片段。
	</p>	
	<h2>如何将代码发到自已的博客？</h2>
	<p>
		本站除了用于记录你的代码片段外，还有个功能就是向博客文章内贴有色彩的代码，如：<a href="http://huacnlee.com/blog/create-rails-task-scheduler-by-rake-and-cronjob" target="_blank">这篇文章里面的代码</a>。<br /><br />
		实现的途径是：<br />
		<ol>
			<li>在你网站的CSS里面加入 <a href="<%= APP_DOMAIN %>/stylesheets/themes/idle.css">这个文件</a> 的代码；</li>
			<li>查看提交好的代码，并点击左边的 <b>HTML Code</b> 连接，并复制出来的内容；</li>
			<li>在你的博客文章编辑器里面以 HTML 的方式插入刚才复制的代码，并保存。</a>
		</ol>
		本站的高亮主题 CSS文件列表(请复制到你博客的CSS里面)：<br />
		<ul>
			<% i = 0 %>
			<% for item in APP_THEMES %>
				<li><a href="<%= APP_DOMAIN %>/stylesheets/themes/<%= item.parameterize('_').to_s %>.css"><%= APP_THEMES_NAMES[i] %></a></li>
				<% i += 1 %>
			<% end %>
		</ul>
		另外字体的设置我没有放到CSS里面，因为有些使用者可能需要使用不同的字体和字体大小，如果你想让你博客上面的代码像本站一样显示，请加入以下代码到你的 CSS 里面去：
		<div class="highlight"><pre><span class="nc">.highlight</span> <span class="p">{</span> <span class="k">overflow</span><span class="o">-</span><span class="err">x</span><span class="o">:</span><span class="k">scroll</span><span class="p">;</span> <span class="k">line-height</span><span class="o">:</span><span class="m">120%</span><span class="p">;</span> <span class="p">}</span>
<span class="nc">.highlight</span> <span class="nt">pre</span><span class="o">,</span>
<span class="nc">.highlight</span> <span class="nt">pre</span> <span class="nt">span</span> <span class="p">{</span>
  <span class="k">font-family</span><span class="o">:</span><span class="s2">&quot;Bitstream Vera Sans Mono&quot;</span><span class="o">,</span><span class="s2">&quot;Monaco&quot;</span><span class="o">,</span><span class="s2">&quot;Courier New&quot;</span><span class="o">,</span><span class="k">monospace</span><span class="o">,</span><span class="err">宋体</span><span class="p">;</span><span class="k">font-size</span><span class="o">:</span><span class="m">12px</span><span class="p">;</span> <span class="k">font-weight</span><span class="o">:</span><span class="k">normal</span><span class="p">;</span>
<span class="p">}</span></pre></div>		
	</p>
	<h2>关于源代码</h2>
	<p>
		本站暂不开放源代码，如你有兴趣参与此项目的开发，请联系：huacnlee{a}gmail.com
	</p>
	</div>
<% end %>

