<div style="background:#D7D7D7; padding:20px;margin:0;">
<div style="-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#111111 none repeat scroll 0 0;
border-bottom:3px solid #999999;
padding:10px;">
<div style="background:#111; height:30px; line-height:30px;">
  <a href="http://pasite.org" style="color:#FFCC44;font-size:1.3em; text-decoration:none;"><img src="http://pasite.org/images/pastie.gif?1249632948" alt="Pastie" style="border:0;margin-right:0.25em; vertical-align:bottom;"/>Pasite.org</a>
</div>
</div>
<div style="-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;background:white none repeat scroll 0 0;border-color:#CCCCCC #BBBBBB #BBBBBB #CCCCCC;border-style:solid;border-width:1px 4px 4px 1px;margin:1em 0;padding:25px;">
<%= yield %>
</div>
<div style="color:#333333;
font-family:'Lucida Grande',Tahoma,Arial,Helvetica,sans-serif;
font-size:0.75em;
padding:0 10px;">
    <a href="http://pasite.org">Pasite.org</a> Team.
</div>
</div>
